.body{
    color: Blue;
}
hr{
    width: 90%;
    height: 30px;
    margin-left: 40px;
    margin-right: auto;
   
    color: black;
}

.tab{
    margin-top: 100px;
    background-color: skyblue;
    padding: 20px;
    margin: 20px;
    border-radius: 60px;
}
li {
    list-style: none;
}

h1{color: blue; font-weight: bolder;}

table{
    border: 2px solid blue;
    border-collapse: collapse;
   
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

table tr{
    border: 1px solid skyblue;
    border-collapse: collapse;
    color: white;
}

table tr th, table tr td{
    padding: 10px;
}

.hobbies{
    color: Black;
}


.photos{
    height: auto;
    width: auto;
    border: 3px solid gold;
    padding: 5px;
    margin-top: 50px;
}