
.images {
    border: 3px solid black;
    margin: 10px;
}
@media screen and (max-width:1210px) {
    .image1 {
        height: "500px";
        width: "500px";
    }
}

.icons {
    width: 90%;
    margin: 50px;
    border: 2px solid pink;
    border-radius: 20px;
    background-color:white;
}

.icons-icons {
    font-size: 40px;
    margin: 20px;
    color: white;
}
.image-background {
    height: "50px";
    width: "80px";
}

.projects {
    margin: 10px;
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 3px solid black;
}
.divC {
    margin: 20px;
}

hr {
    font-size: 40px;
    width: 40px;
}

.slideshow {
    width: 100%;
}
.slideshow img {
    width: 600px;
    height: 600px;
    margin: 30px;
}

.profileSummarySection {
    width: 45%;
}

.profile {
    margin-left: 10%;
    margin-right: 5%;
    text-align: center;
    justify-content: center;
    height: auto;
    align-items: center;
    text-justify: newspaper;
}

.div1 {
    margin-top: 120px;
    border-radius: 30px;
    padding: 10px;
    border: 30px solid white;
    background-color: black;
    margin: 70px 20px;
}
.div2 {
    margin-bottom: 50px;

}

.profileAndImageSection {
    display: flex;
}

.profileImage img {
    width: 600px;
    height: 600px;
    margin: 30px;
    border-radius: 20%;
}

.dIcons {
    font-size: 40px;
}
@media screen and (max-width:1131px) {
    .dIcons {
        font-size: 30px;
    }
}
@media screen and (max-width:1142px) {
    .profile-Image {
        display: flex;
        margin: 10px;
    }

    .profileImage img {
        width: 550px;
        height: 550px;
    }
}
@media screen and (max-width:994px) {
    .profile-Image {
        display: flex;
    }

    .profileImage img {
        width: 450px;
        height: 450px;
    }

    .dIcons {
        font-size: 25px;
    }

    .icons-icons {
        font-size: 40px;
        margin: 10px;
        color: white;
    }

}
@media screen and (max-width:884px) {
    .profileImage {
        display: flex;
        margin: 10px;
    }

    .profileImage img {
        width: 400px;
        height: 400px;
    }

    .dIcons {
        font-size: 25px;
    }

    .icons-icons {
        font-size: 40px;
        margin: 10px;
        color: white;
    }

}
@media screen and (max-width:770px) {
    .dIcons {
        font-size: 25px;
    }

    .profileImage {
        display: flex;
        margin: 10px;
    }

    .profileImage img {
        width: 350px;
        height: 350px;
    }

    .icons-icons {
        font-size: 40px;
        margin: 10px;
        color: white;
    }
}
@media screen and (max-width:692px) {
    .dIcons {
        font-size: 80px;
    }

    .profileSummarySection {
        width: 95%;
    }

    .profileAndImageSection {
        display: inline;
    }

    .profileImage img {
        width: 450px;
        height: 450px;
        border-radius: 20px;
    }

    .slideshow img {
        width: 350px;
        height: 350px;
        margin: 10px;
    }

    .icons-icons {
        font-size: 30px;
        margin: 10px;
        color: white;
    }
}
@media screen and (max-width:582px) {
    .dIcons {
        font-size: 60px;
        margin:10px;
    }

    .profileSummarySection {
        width: 95%;
        margin-left: 10px;
    }

    .profileAndImageSection {
        display: inline;
    }

    .profileImage img {
        width: 450px;
        height: 450px;
    }

    .icons-icons {
        font-size: 25px;
        margin: 10px;
        color: white;
    }

    .profile {
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
        height: auto;
        align-items: center;
        text-justify: newspaper;
    }

    .icons {

        width: 90%;
        margin-bottom: 90px;
    }

}

.hireMe {
    margin: 15px;
    background-color: purple;
    border: 2px solid black;
    color: black;
    border-radius: 29px;
    height: 50px;
    font-size: large;
    font-weight: bolder;

}

.Resume {
    margin: 15px;
    background-color: magenta;
    border: 2px solid blue;
    color: black;
    border-radius: 29px;
    height: 50px;
    font-size: large;
    font-weight: bolder;
}
.hireMe:hover {
    background-color: pink;
}
.Resume:hover {
    background-color: pink;
}

.Resume a {
    text-decoration: none;
    color: white;
}

.header1 {
    background-color: white;
    color: midnightblue;
    border-radius: 29px;
    border: 2px solid black;
    width: 50%;
    margin: 20px auto;

}

.welcomeLogo {
    width: 500px;
    height: 80px;
}
