
.images{  
    border: 3px solid black;
     margin: 10px;
 }

 @media screen and (max-width:1210px){
    .image1{
        height:"500px";
         width:"500px"
        }
    } 

    .icons{
        justify-content: center;

    }

    .icons-icons{
        font-size: 40px;
        margin: 20px;
        color: white;
    }
.image-background{
    height:"50px";
     width:"80px";
     background-image: url("./../Images/Obande3.jpeg");
    }

.projects{
    margin: 10px;
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
   padding: 5px;
   border: 3px solid black;
}
.divC{
    margin: 20px;
}

.Image{
 border-radius: 50%;
 height: 600px;
 width: auto;
 background-image: url("../Images/Obande2.jpeg");
 justify-content: center;
 align-content: center;
 
}

.full-stack{
    width: 45%;
}

.profile{
   
    border: solid 2px black;
   margin-left: 5%;
   margin-right:5%;
    text-align: center;
    justify-content: center;
    height: auto;
    align-items: center;
    text-justify: newspaper;
}

.div1{
    margin-top: 120px;
    border-radius: 30px;
}
.div2{
    margin-bottom: 500px;
   
}

.hireMe{
    margin: 15px;
    background-color: purple;
    border: 2px solid black;
    color: white;
    border-radius: 29px;
    height: 50px;
    font-size: large;
    font-weight: bolder;

}

.Resume{
    margin: 15px;
    background-color: magenta;
    border: 2px solid blue;
    color: white;
    border-radius: 29px;
    height: 50px;
    font-size: large;
    font-weight: bolder;
}


.hireMe:hover{
    background-color: pink;
}


.Resume:hover{
    background-color: pink;
}

.Resume a{
    text-decoration: none;
    color:  white;;
}

.header1{
  background-color: white;
  color: midnightblue;
  border-radius: 29px;
  border: 2px solid black;
  width: 50%;
  margin: 20px auto;
 
}