.containerL{
    width: 150%;
    height: 350px; 
 
}

.cardL{
    width: 400px;
    margin: 30px;
    padding: 5px;  
}
.card-body{
    height: 80px;
    overflow: scroll;
    border: 2px solid blue;
    border-radius: 20px;
    background-color: skyblue;
}
.title{
    color: purple;
    font-weight: bold;
    height: 70px;
}

.website{
    height: 20px;
    margin: 10px;
}