.skills{
        height: auto;
        text-align: left;
        text-indent: 40%;
        display:grid; 
        grid-template-columns: repeat(auto-fill,minmax(490px,1fr));
        grid-template-rows: repeat(auto-fill,minmax(1%,auto)); 
}

.skills-a{
    text-decoration: none;
    color: white;
    font-size:90px ;
}

.skills-a:hover{
    text-decoration:underline;
    color: white;
}

.profile{
    font-size: 20px;
    color: aquamarine;
    text-align: justify; 

    }


@media screen and (max-width:756px){
    .profile{
        font-size: 15px;
        
    }
    } 
    
@media screen and (max-width:556px){
        .profile{
            font-size: 30px;
            
        }
        } 