.skills{
        height: auto;
        text-align: left;
        text-indent: 40%;
        display:grid; 
        grid-template-columns: repeat(auto-fill,minmax(490px,1fr));
        grid-template-rows: repeat(auto-fill,minmax(1%,auto)); 
}

.skills-a{
    text-decoration: none;
    color: white;
    font-size:90px ;
}

.skills-a:hover{
    text-decoration:underline;
    color: white;
}