.underConstruction{
    height: auto;
    width: 800px;

}

@media screen and (max-width:1049px) {
    .underConstruction{
        height: auto;
        width: 600px;
    
    }
}
@media screen and (max-width:1039px) {
    .underConstruction{
        height: auto;
        width: 500px;
    
    }
}
@media screen and (max-width:991px) {
    .underConstruction{
        height: auto;
        width: 400px;
    
    }
}
@media screen and (max-width:861px) {
    .underConstruction{
        height: auto;
        width: 300px;
    
    }
}
@media screen and (max-width:635px) {
    .underConstruction{
        height: auto;
        width: 200px;
    
    }
}
@media screen and (max-width:551px) {
    .underConstruction{
        height: auto;
        width: 100px;
    
    }
}
