
    @media screen and (max-width:1049px){
        .underConstruction img{
                height:3000px ;
                width: auto;
        }
    }
        
        @media screen and (max-width:1039px){
            .underConstruction img{
                height:300px ;
                width:200px;
        }
        }
        
        @media screen and (max-width:991px){
            .underConstruction img{
                height:auto ;
                width: auto;
        }
            }
        
        @media screen and (max-width:861px){
            .underConstruction img{
                height:auto ;
                width: auto;
        }
        }  
        
        @media screen and (max-width:635px){
            .underConstruction img{
                height:auto ;
                width: auto;
        }
        } 
        
        @media screen and (max-width:551px){
            .underConstruction img{
                height:auto ;
                width: auto;
        }
        }
